<html>
<head>
<meta charset="utf-8" />
<title>Blog</title>
<style>
 <!-- Por ahora dejaremos en blanco esta sección -->
 </style>
</head>
  <body>
    <!-- Información del blog (visible) -->
  </body>
</html>